[Desktop Entry]
Comment[es]=Configure el Panel
Comment=Configure the Panel
Keywords[lt]=Skydelis
Keywords[nl_NL]=Paneel
Name=Panel
Icon=panel
Comment[lt]=Konfigūruoti Skydelį
Comment[it]=Configura il pannello
X-VeraCC-Section=Personal
Name[es]=Panel
Comment[hu]=Panel beállítása
Name[lt]=Skydelis
Name[nl_NL]=Paneel
Keywords[hu]=Panel
Keywords[it]=Pannello
Comment[nl_NL]=Het paneel instellen
Name[it]=Pannello
Name[hu]=Panel
Keywords[es]=Panel
Keywords=Panel

