[Desktop Entry]
Name[hu]=Panel
Icon=panel
Name[nl_NL]=Paneel
Keywords[lt]=Skydelis
X-VeraCC-Section=Personal
Keywords=Panel
Keywords[it]=Pannello
Comment[es]=Configure el Panel
Keywords[es]=Panel
Name[it]=Pannello
Keywords[hu]=Panel
Name=Panel
Name[es]=Panel
Keywords[nl_NL]=Paneel
Comment[it]=Configura il pannello
Comment[lt]=Konfigūruoti Skydelį
Comment[nl_NL]=Het paneel instellen
Comment=Configure the Panel
Comment[hu]=Panel beállítása
Name[lt]=Skydelis

