[Desktop Entry]
Keywords[hu]=Felhasználók;Csoportok;Arckép
Name[es]=Usuarios & Grupos
X-VeraCC-Section=System
Name=Users & Groups
Comment[lt]=Pridėti, keisti, šalinti naudotojus ir grupes
Comment[es]=Agregar, editar y eliminar usuarios y grupos
Keywords[lt]=Naudotojai;Grupės;Veidas
Comment[it]=Aggiungi, modifica e rimuovi utenti e gruppi
Icon=system-config-users
Name[nl_NL]=Gebruikers en groepen
Keywords[it]=Utenti;Gruppi;Face
Keywords=Users;Groups;Face
Comment[nl_NL]=Gebruikers en groepen toevoegen, bewerken en/of verwijderen
Keywords[nl_NL]=Gebruikers;Groepen;Gezicht
Name[lt]=Naudotojai ir Grupės
Name[hu]=Felhasználók és Csoportok
Name[it]=Utenti e gruppi
Comment=Add, edit, remove users and groups
Comment[hu]=Felhasználók és csoportok hozzáadása, szerkesztése, eltávolítása
Keywords[es]=Usuarios;Grupos;Face

