[Desktop Entry]
Comment[lt]=Pridėti, keisti, šalinti naudotojus ir grupes
Name[lt]=Naudotojai ir Grupės
Name[it]=Utenti e gruppi
Name[nl_NL]=Gebruikers en groepen
Keywords[es]=Usuarios;Grupos;Face
Comment[hu]=Felhasználók és csoportok hozzáadása, szerkesztése, eltávolítása
Name[hu]=Felhasználók és Csoportok
Name[es]=Usuarios & Grupos
Comment=Add, edit, remove users and groups
Comment[it]=Aggiungi, modifica e rimuovi utenti e gruppi
Comment[nl_NL]=Gebruikers en groepen toevoegen, bewerken en/of verwijderen
Comment[es]=Agregar, editar y eliminar usuarios y grupos
Keywords=Users;Groups;Face
Name=Users & Groups
Keywords[it]=Utenti;Gruppi;Face
Keywords[hu]=Felhasználók;Csoportok;Arckép
Keywords[nl_NL]=Gebruikers;Groepen;Gezicht
X-VeraCC-Section=System
Keywords[lt]=Naudotojai;Grupės;Veidas
Icon=system-config-users

