.button.no-borders {
	background-color: transparent;
	border: transparent;
}

.button.no-borders:active {
	color: @button_active_text;
}

/*
GtkIconView.cell.veracc-section:selected {
	background-color: transparent;
}
*/
