[Desktop Entry]
Keywords=Desktop
Icon=preferences-desktop-wallpaper
Name[it]=Scrivania
Keywords[it]=Scrivania
Name[lt]=Darbastalis
Keywords[es]=Escritorio
Comment[lt]=Darbastalio nuostatos
Comment=Desktop preferences
Comment[hu]=Asztal beállítások
Comment[it]=Preferenze della scrivania
Comment[nl_NL]=Bureaubladvoorkeuren
Name[es]=Escritorio
Keywords[nl_NL]=Bureaublad
Name=Desktop
Keywords[hu]=Asztal
X-VeraCC-Section=Personal
Comment[es]=Preferencias del Escritorio
Keywords[lt]=Darbastalis
Name[nl_NL]=Bureaublad
Name[hu]=Asztal

