[Desktop Entry]
Comment[es]=Preferencias del Escritorio
Keywords[es]=Escritorio
Name[es]=Escritorio
Comment=Desktop preferences
Keywords[it]=Scrivania
X-VeraCC-Section=Personal
Keywords[lt]=Darbastalis
Keywords[nl_NL]=Bureaublad
Name[it]=Scrivania
Name[nl_NL]=Bureaublad
Icon=preferences-desktop-wallpaper
Comment[lt]=Darbastalio nuostatos
Name[lt]=Darbastalis
Comment[hu]=Asztal beállítások
Keywords=Desktop
Name=Desktop
Comment[nl_NL]=Bureaubladvoorkeuren
Name[hu]=Asztal
Comment[it]=Preferenze della scrivania
Keywords[hu]=Asztal

