[Desktop Entry]
Name[hu]=Asztal
Icon=preferences-desktop-wallpaper
Name[nl_NL]=Bureaublad
Keywords[lt]=Darbastalis
X-VeraCC-Section=Personal
Keywords=Desktop
Keywords[it]=Scrivania
Comment[es]=Preferencias del Escritorio
Keywords[es]=Escritorio
Name[it]=Scrivania
Keywords[hu]=Asztal
Name=Desktop
Name[es]=Escritorio
Keywords[nl_NL]=Bureaublad
Comment[it]=Preferenze della scrivania
Comment[lt]=Darbastalio nuostatos
Comment[nl_NL]=Bureaubladvoorkeuren
Comment=Desktop preferences
Comment[hu]=Asztal beállítások
Name[lt]=Darbastalis

