[Desktop Entry]
Name[es]=Apariencia
Comment[lt]=Temos.
Keywords[nl_NL]=Thema's
Keywords[hu]=Témák
X-VeraCC-Section=Personal
Icon=preferences-desktop-theme
Comment[hu]=Témák.
Comment[it]=Temi.
Name[nl_NL]=Uiterlijk
Name[hu]=Megjelenés
Keywords[it]=Temi
Name[lt]=Išvaizda
Comment=Themes.
Name[it]=Aspetto
Keywords[lt]=Temos
Keywords[es]=Temas
Comment[nl_NL]=Thema's
Keywords=Themes
Comment[es]=Temas.
Name=Appearance

