[Desktop Entry]
Keywords=Themes
Icon=preferences-desktop-theme
Name[it]=Aspetto
Keywords[it]=Temi
Name[lt]=Išvaizda
Keywords[es]=Temas
Comment[lt]=Temos.
Comment=Themes.
Comment[hu]=Témák.
Comment[it]=Temi.
Comment[nl_NL]=Thema's
Name[es]=Apariencia
Keywords[nl_NL]=Thema's
Name=Appearance
Keywords[hu]=Témák
X-VeraCC-Section=Personal
Comment[es]=Temas.
Keywords[lt]=Temos
Name[nl_NL]=Uiterlijk
Name[hu]=Megjelenés

