[Desktop Entry]
Comment[lt]=Temos.
Name[lt]=Išvaizda
Name[it]=Aspetto
Name[nl_NL]=Uiterlijk
Keywords[es]=Temas
Comment[hu]=Témák.
Name[hu]=Megjelenés
Name[es]=Apariencia
Comment=Themes.
Comment[it]=Temi.
Comment[nl_NL]=Thema's
Comment[es]=Temas.
Keywords=Themes
Name=Appearance
Keywords[it]=Temi
Keywords[hu]=Témák
Keywords[nl_NL]=Thema's
X-VeraCC-Section=Personal
Keywords[lt]=Temos
Icon=preferences-desktop-theme

