[Desktop Entry]
Comment[lt]=Tvarkyti automatinį programų paleidimą
Name[lt]=Automatinis Paleidimas
Name[it]=Avvio automatico
Name[nl_NL]=Automatisch opstarten
Keywords[es]=Inicio automático;Sesión
Comment[hu]=Automatikusan induló alkalmazások kezelése
Name[hu]=Automatikus indítás
Name[es]=Autoinicio
Comment=Manage the applications to autostart
Comment[it]=Gestisci le applicazioni da avviare automaticamente
Comment[nl_NL]=De applicaties beheren die automatisch worden opgestart
Comment[es]=Gestionar las aplicaciones para el inicio automático
Keywords=Autostart;Session
Name=Autostart
Keywords[it]=Avvio automatico;Sessione
Keywords[hu]=Automatikus indítás;Munkamenet
Keywords[nl_NL]=Automatisch opstarten;Sessie
X-VeraCC-Section=Personal
Keywords[lt]=Automatinis paleidimas;Seansas
Icon=preferences-system-session

