[Desktop Entry]
Name[es]=Autoinicio
Comment[lt]=Tvarkyti automatinį programų paleidimą
Keywords[nl_NL]=Automatisch opstarten;Sessie
Keywords[hu]=Automatikus indítás;Munkamenet
X-VeraCC-Section=Personal
Icon=preferences-system-session
Comment[hu]=Automatikusan induló alkalmazások kezelése
Comment[it]=Gestisci le applicazioni da avviare automaticamente
Name[nl_NL]=Automatisch opstarten
Name[hu]=Automatikus indítás
Keywords[it]=Avvio automatico;Sessione
Name[lt]=Automatinis Paleidimas
Comment=Manage the applications to autostart
Name[it]=Avvio automatico
Keywords[lt]=Automatinis paleidimas;Seansas
Keywords[es]=Inicio automático;Sesión
Comment[nl_NL]=De applicaties beheren die automatisch worden opgestart
Keywords=Autostart;Session
Comment[es]=Gestionar las aplicaciones para el inicio automático
Name=Autostart

