[Desktop Entry]
Comment=Shows informations on this system
Keywords=Device;Informations;About
X-VeraCC-Section=System
Comment[it]=Visualizza informazioni su questo sistema
Name[it]=Informazioni sul dispositivo
Name=Device details
Icon=info

