[Desktop Entry]
Name[gd]=Ceanglaichean ri lìonraidhean
Name[crh]=Şebeke Bağlantıları
Comment[he]=ניהול ושינוי הגדרות חיבורי הרשת שלך
Terminal=false
Comment[gd]=Stiùirich is atharraich roghainnean a' cheangail agad ris an lìonra
Comment[be@latin]=Kiruj i źmianiaj nałady sietkavych spałučeńniaŭ
Name[bg]=Мрежови връзки
Comment[ast]=Xestiona y camuda los axustes de conexón de rede
Comment[an]=Chestione y cambee os suyos achustes d'a connexión de ret
X-GNOME-Bugzilla-Product=NetworkManager
Comment[be]=Настройкі сеткавага злучэння
Name[sk]=Sieťové pripojenia
StartupNotify=true
Name[pa]=ਨੈੱਟਵਰਕ ਕੁਨੈਕਸ਼ਨ
Comment[ro]=Administrați și modificați opțiunile conexiunilor de rețea
Name[zh_TW]=網路連線
Name[af]=Netwerkverbindings
Name[uk]=Мережні з'єднання
Name[lt]=Tinklo ryšiai
Name[mr]=नेटवर्क जोडणी
Comment[hu]=Hálózati kapcsolatok beállításainak kezelése és módosítása
Name[lv]=Tīkla savienojumi
NotShowIn=KDE;
Name[an]=Conexions de rete
Name[hu]=Hálózati kapcsolatok
Comment[ug]=تور باغلىنىش تەڭشەكلىرىڭىزنى باشقۇرۇڭ ۋە ئۆزگەرتىڭ
Comment[gl]=Xestione e cambie as súas configuracións de conexión de rede
Name[nn]=Nettverkstilkoplingar
Name[ur]=نیٹ ورک اتصال
Comment[lt]=Tvarkykite ir keiskite savo tinklo ryšių parametrus
Name[pt]=Ligações de Rede
Name[pl]=Połączenia sieciowe
Name[it]=Connessioni di rete
Name[fr]=Connexions réseau
Comment[it]=Gestisce e cambia le impostazioni della connessione di rete
Comment[pt]=Gerir e alterar as suas definições da ligação de rede
Name[eu]=Sareko konexioak
Name[fa]=اتصال‌های شبکه
Name[te]=నెట్వర్కు అనుసంధానములు
Name[gl]=Conexións de rede
Comment[da]=Rediger og ændr dine indstillinger til netværksforbindelser
Comment[af]=Bestuur en verander u netwerkverbinding-instellings
Name[km]=ការ​តភ្ជាប់​បណ្ដាញ
Name[da]=Netværksforbindelser
Comment[kk]=Сіздің желілік байланысыңызды басқару мен түзету
Comment[nb]=Håndter og endre innstillinger for nettverksforbindelser
Name[ku]=Girêdanên torê
Name[ja]=ネットワーク接続
Comment[sr@latin]=Upravljajte i izmenite podešavanja vaših mrežnih veza
Comment[pa]=ਆਪਣੀ ਨੈੱਟਵਰਕ ਕੁਨੈਕਸ਼ਨ ਸੈਟਿੰਗ ਦਾ ਪਰਬੰਧ ਕਰੋ ਅਤੇ ਬਦਲੋ
Comment[ca]=Gestioneu i modifiqueu els paràmetres de connexió de xarxa
Name[th]=การเชื่อมต่อเครือข่าย
Comment[id]=Kelola dan ubah tatanan sambungan jaringan Anda
Name[es]=Conexiones de red
Name[sl]=Omrežne povezave
Comment[or]=ଆପଣଙ୍କର ନେଟୱର୍କ ସଂଯୋଗ ସଂରଚନାକୁ ପରିଚାଳନା କରନ୍ତୁ ଏବଂ ପରିବର୍ତ୍ତନ କରନ୍ତୁ
Name[as]=নেটৱাৰ্ক সংযোগসমূহ
Exec=nm-connection-editor
Name[fi]=Verkkoyhteydet
Name[zh_HK]=網絡連線
X-GNOME-Bugzilla-Component=nm-connection-editor
Comment[mr]=नेटवर्क संयोजना व्यवस्थापीत करा व बदला
Name[sr@latin]=Veze sa mrežom
X-GNOME-Bugzilla-Bugzilla=GNOME
Comment[ms]=Urus dan pinda tetapan sambungan rangkaian anda
Comment[de]=Einstellungen für Verbindungen mit Netzwerken verwalten
Comment[el]=Διαχείριση και αλλαγή ρυθμίσεων των συνδέσεων δικτύου
Name[nl]=Netwerkverbindingen
Comment[ja]=ネットワーク接続セッティングの管理と変更
Name[or]=ନେଟୱର୍କ ସଂଯୋଗଗୁଡ଼ିକ
Name[be]=Сеткавыя злучэнні
Name[ko]=네트워크 연결
Name[ru]=Сетевые соединения
Name[eo]=Retkonektoj
Name[de]=Netzwerkverbindungen
Name[cs]=Připojení k síti
Comment[sv]=Hantera och ändra inställningar för dina nätverksanslutningar
Name[ar]=الاتصالات الشبكية
Name[kn]=ಜಾಲಬಂಧ ಸಂಪರ್ಕಗಳು
Comment[fi]=Hallitse ja muuta verkkoyhteyksien asetuksia
Name[nb]=Nettverkstilkoblinger
Comment[fa]=تنظیمات اتصال شبکه خود را مدیریت و تغییر دهید
Comment[zh_CN]=管理或更改您的网络连接设置
Name[ug]=تور باغلىنىشلىرى
Comment[ca@valencia]=Gestioneu i modifiqueu els paràmetres de connexió de xarxa
Comment[hi]=अपना संजाल कनेक्शन सेटिंग प्रबंधित करें और बदलें
Name[oc]=Connexions ret
Name[ro]=Conexiuni de rețea
Comment[pt_BR]=Gerencie e altere suas configurações de conexão de rede
Name[he]=חיבורי רשת
Name[zh_CN]=网络连接
Comment[te]=మీ నెట్వర్కు అనుసంధానము అమర్పులను నిర్వహించండి మరియు మార్చండి
Comment[sl]=Upravljanje in spreminjanje nastavitev omrežne povezave
Name[gu]=નેટવર્ક જોડાણો
Categories=GNOME;GTK;Settings;X-GNOME-NetworkSettings;
Comment[zh_TW]=管理與變更您的連線設定值
Name[en_GB]=Network Connections
Type=Application
Name[vi]=Kết nối mạng
Comment[zh_HK]=管理與更改你的連線設定值
Name[mk]=Мрежни врски
Comment[en_GB]=Manage and change your network connection settings
Comment[ku]=Girêdanên torê yên xwe birêve û sererast bike
Comment[ru]=Управление параметрами сетевых соединений
Comment[es]=Gestione y cambie sus ajustes de la conexión de red
Comment[mk]=Управувајте и променувајте ги поставувањата на Вашата мрежна врска
Comment[fr]=Gérer et modifier les paramètres des connexions réseau
Comment[gu]=તમારા નેટવર્ક જોડાણ સુયોજનોને બદલો અને સંચાલિત કરો
Comment[ar]=أدِر وغيّر إعدادات الاتصالات الشبكية
Name[et]=Võrguühendused
Name[hi]=संजाल कनेक्शन
Name[kk]=Желілік байланыстар
Comment[cs]=Spravovat a měnit nastavení připojení k síti
X-VeraCC-Section=Network
Comment[eu]=Kudeatu eta aldatu sareko konexioen ezarpenak
Comment[eo]=Administri kaj ŝanĝi viajn retkonektajn agordojn
Name[ca@valencia]=Connexions de xarxa
Name[id]=Sambungan Jaringan
Name[be@latin]=Sietkavyja spałučeńni
Comment[uk]=Керування параметрами мережних з'єднань
Comment[ur]=اپنے نیٹ ورک اتصال کی تبدیلی اور ادارت کریں
Comment[lv]=Pārvaldiet un mainiet tīkla savienojumu iestatījumus
Name[ml]=ശൃംഖല ബന്ധങ്ങള്‍
Comment[vi]=Quản lí và thay đổi thiết lập kết nối mạng
Comment[sk]=Spravuje a mení nastavenia vášho sieťového pripojenia
Comment[nl]=De instellingen voor uw netwerkverbindingen beheren en bewerken
Name[el]=Συνδέσεις δικτύου
Comment[sr]=Управљајте и измените подешавања ваших мрежних веза
Comment[kn]=ನಿಮ್ಮ ಜಾಲಬಂಧ ಸಂಪರ್ಕಗಳನ್ನು ನಿರ್ವಹಿಸಿ ಹಾಗು ಬದಲಾಯಿಸಿ
Comment[bg]=Управление и промяна на настройките на вашата мрежа
Comment[as]=আপোনাৰ নেটৱাৰ্ক সংযোগক ব্যৱস্থাপনা আৰু সলনি কৰক
Comment[ml]=നിങ്ങളുടെ ശൃംഖല ബന്ധങ്ങള്‍ സജ്ജീകരണങ്ങള്‍ കൈകാര്യം ചെയ്യുകയും മാറ്റങ്ങള്‍ വരുത്തുകയും ചെയ്യുക.
Comment[crh]=Şebeke bağlantısı tesbitleriñizni idare etiñiz ve değiştiriñiz
Name[ast]=Conexones de rede
Comment[et]=Võrguühenduse sätete haldus
Name[pt_BR]=Conexões de rede
Comment=Manage and change your network connection settings
Comment[nn]=Handter og endra innstillingar for nettverkstilkopling
Comment[bn_IN]=আপনার নেটওয়ার্ক সংযোগ বৈশিষ্ট্য সম্পাদন ও পরিবর্তন করুন
Name[ta]=பிணைய இணைப்புகள்
Name[bn_IN]=নেটওয়ার্ক সংযোগ
Name[ms]=Sambungan-sambungan Rangkaian
Name[sr]=Везе са мрежом
Name[tr]=Ağ Bağlantıları
Name[sv]=Nätverksanslutningar
Comment[ko]=네트워크 연결 설정을 관리하고 설정을 바꿉니다
Comment[km]=គ្រប់គ្រង និង​ផ្លាស់ប្ដូរ​ការ​កំណត់​ការ​តភ្ជាប់​បណ្ដាញ​របស់​អ្នក
Comment[th]=จัดการและตั้งค่าการเชื่อมต่อเครือข่ายของคุณ
Comment[pl]=Zarządzanie ustawieniami połączeń sieciowych
Comment[tr]=Ağ bağlantı ayarlarını yönetin ve değiştirin
Name=Network Connections
Icon=preferences-system-network
Name[ca]=Connexions de xarxa
Comment[ta]=உங்களின் பிணைய இணைப்பு அமைவுகளை மேலாண்மை மற்றும் மாற்றவும்

