[Desktop Entry]
Name[da]=Netværksforbindelser
Comment[be]=Настройкі сеткавага злучэння
Name[be]=Сеткавыя злучэнні
Name[zh_HK]=網絡連線
Comment[ug]=تور باغلىنىش تەڭشەكلىرىڭىزنى باشقۇرۇڭ ۋە ئۆزگەرتىڭ
Comment[sv]=Hantera och ändra inställningar för dina nätverksanslutningar
Name[be@latin]=Sietkavyja spałučeńni
Comment[pt]=Gerir e alterar as suas definições da ligação de rede
X-GNOME-Bugzilla-Product=NetworkManager
Name[ml]=ശൃംഖല ബന്ധങ്ങള്‍
Keywords[nl_NL]=Netwerk;Verbindingen;
Name[el]=Συνδέσεις δικτύου
Name[ku]=Girêdanên torê
Name[ar]=الاتصالات الشبكية
Name[it]=Connessioni di rete
Comment[ja]=ネットワーク接続セッティングの管理と変更
Comment[ml]=നിങ്ങളുടെ ശൃംഖല ബന്ധങ്ങള്‍ സജ്ജീകരണങ്ങള്‍ കൈകാര്യം ചെയ്യുകയും മാറ്റങ്ങള്‍ വരുത്തുകയും ചെയ്യുക.
Comment[or]=ଆପଣଙ୍କର ନେଟୱର୍କ ସଂଯୋଗ ସଂରଚନାକୁ ପରିଚାଳନା କରନ୍ତୁ ଏବଂ ପରିବର୍ତ୍ତନ କରନ୍ତୁ
Name[sl]=Omrežne povezave
Name[cs]=Připojení k síti
Name[bg]=Мрежови връзки
StartupNotify=true
Comment[ru]=Управление параметрами сетевых соединений
Comment[es]=Gestionar y cambiar la configuración de su conexión de red
Comment[te]=మీ నెట్వర్కు అనుసంధానము అమర్పులను నిర్వహించండి మరియు మార్చండి
Name[kk]=Желілік байланыстар
Name[fi]=Verkkoyhteydet
Name[pt_BR]=Conexões de rede
Name[ast]=Conexones de rede
X-VeraCC-Section=Network
X-GNOME-Bugzilla-Bugzilla=GNOME
Type=Application
Terminal=false
Name[sv]=Nätverksanslutningar
Name[as]=নেটৱাৰ্ক সংযোগসমূহ
Name[et]=Võrguühendused
Name[he]=חיבורי רשת
Comment[zh_CN]=管理或更改您的网络连接设置
Name[or]=ନେଟୱର୍କ ସଂଯୋଗଗୁଡ଼ିକ
Comment[nn]=Handter og endra innstillingar for nettverkstilkopling
Comment[zh_HK]=管理與更改你的連線設定值
Name[th]=การเชื่อมต่อเครือข่าย
Name[crh]=Şebeke Bağlantıları
Name[pl]=Połączenia sieciowe
Keywords[hu]=Hálózat;Kapcsolatok;
Comment[bn_IN]=আপনার নেটওয়ার্ক সংযোগ বৈশিষ্ট্য সম্পাদন ও পরিবর্তন করুন
Keywords[es]=Red; Conexiones;
Comment[th]=จัดการและตั้งค่าการเชื่อมต่อเครือข่ายของคุณ
Comment[nl]=De instellingen voor uw netwerkverbindingen beheren en bewerken
Exec=nm-connection-editor
X-GNOME-Bugzilla-Component=nm-connection-editor
Comment[tr]=Ağ bağlantı ayarlarını yönetin ve değiştirin
Comment[km]=គ្រប់គ្រង និង​ផ្លាស់ប្ដូរ​ការ​កំណត់​ការ​តភ្ជាប់​បណ្ដាញ​របស់​អ្នក
Comment[ko]=네트워크 연결 설정을 관리하고 설정을 바꿉니다
Name[bn_IN]=নেটওয়ার্ক সংযোগ
Name[an]=Conexions de rete
Name[oc]=Connexions ret
Comment[be@latin]=Kiruj i źmianiaj nałady sietkavych spałučeńniaŭ
Comment[zh_TW]=管理與變更您的連線設定值
NotShowIn=KDE;
Comment[en_GB]=Manage and change your network connection settings
Name[lv]=Tīkla savienojumi
Name[af]=Netwerkverbindings
Comment[kn]=ನಿಮ್ಮ ಜಾಲಬಂಧ ಸಂಪರ್ಕಗಳನ್ನು ನಿರ್ವಹಿಸಿ ಹಾಗು ಬದಲಾಯಿಸಿ
Name[ta]=பிணைய இணைப்புகள்
Comment[ca]=Gestioneu i modifiqueu els paràmetres de connexió de xarxa
Comment[pa]=ਆਪਣੀ ਨੈੱਟਵਰਕ ਕੁਨੈਕਸ਼ਨ ਸੈਟਿੰਗ ਦਾ ਪਰਬੰਧ ਕਰੋ ਅਤੇ ਬਦਲੋ
Comment[ro]=Administrați și modificați opțiunile conexiunilor de rețea
Comment[gd]=Stiùirich is atharraich roghainnean a' cheangail agad ris an lìonra
Name[mk]=Мрежни врски
Comment[vi]=Quản lí và thay đổi thiết lập kết nối mạng
Comment=Manage and change your network connection settings
Name[sk]=Sieťové pripojenia
Name[id]=Sambungan Jaringan
Name[ms]=Sambungan-sambungan Rangkaian
Comment[nb]=Håndter og endre innstillinger for nettverksforbindelser
Name[lt]=Tinklo Ryšiai
Comment[hi]=अपना संजाल कनेक्शन सेटिंग प्रबंधित करें और बदलें
Comment[lt]=Tvarkykite ir keiskite savo tinklo ryšių nustatymus
Comment[fa]=تنظیمات اتصال شبکه خود را مدیریت و تغییر دهید
Name[zh_TW]=網路連線
Icon=preferences-system-network
Comment[ur]=اپنے نیٹ ورک اتصال کی تبدیلی اور ادارت کریں
Keywords[lt]=Tinklas;Ryšiai;
Comment[ast]=Xestiona y camuda los axustes de conexón de rede
Name[kn]=ಜಾಲಬಂಧ ಸಂಪರ್ಕಗಳು
Name[gl]=Conexións de rede
Comment[mk]=Управувајте и променувајте ги поставувањата на Вашата мрежна врска
Comment[he]=ניהול ושינוי הגדרות חיבורי הרשת שלך
Name[fa]=اتصال‌های شبکه
Name[km]=ការ​តភ្ជាប់​បណ្ដាញ
Name[vi]=Kết nối mạng
Name[de]=Netzwerkverbindungen
Name[gd]=Ceanglaichean ri lìonraidhean
Comment[af]=Bestuur en verander u netwerkverbinding-instellings
Name[hu]=Hálózati kapcsolatok
Name[ru]=Сетевые соединения
Comment[fi]=Hallitse ja muuta verkkoyhteyksien asetuksia
Comment[nl_NL]=Uw netwerkverbindingsinstellingen beheren en wijzigen
Comment[de]=Einstellungen für Verbindungen mit Netzwerken verwalten
Name[uk]=Мережні з'єднання
Comment[ca@valencia]=Gestioneu i modifiqueu els paràmetres de connexió de xarxa
Name[ur]=نیٹ ورک اتصال
Comment[crh]=Şebeke bağlantısı tesbitleriñizni idare etiñiz ve değiştiriñiz
Comment[bg]=Управление и промяна на настройките на вашата мрежа
Keywords=Network;Connections;
Comment[kk]=Сіздің желілік байланысыңызды басқару мен түзету
Comment[fr]=Gérer et modifier les paramètres des connexions réseau
Name[ca]=Connexions de xarxa
Comment[sl]=Upravljanje in spreminjanje nastavitev omrežne povezave
Categories=GNOME;GTK;Settings;X-GNOME-NetworkSettings;
Name[te]=నెట్వర్కు అనుసంధానములు
Name[nl]=Netwerkverbindingen
Name[tr]=Ağ Bağlantıları
Name[mr]=नेटवर्क जोडणी
Name[eu]=Sareko konexioak
Comment[gu]=તમારા નેટવર્ક જોડાણ સુયોજનોને બદલો અને સંચાલિત કરો
Comment[eo]=Administri kaj ŝanĝi viajn retkonektajn agordojn
Name[sr]=Везе са мрежом
Name[sr@latin]=Veze sa mrežom
Name[ro]=Conexiuni de rețea
Name[gu]=નેટવર્ક જોડાણો
Comment[pl]=Zarządzanie ustawieniami połączeń sieciowych
Name[nl_NL]=Netwerkverbindingen
Name[fr]=Connexions réseau
Name[nb]=Nettverkstilkoblinger
Comment[da]=Rediger og ændr dine indstillinger til netværksforbindelser
Comment[ar]=أدِر وغيّر إعدادات الاتصالات الشبكية
Name[pa]=ਨੈੱਟਵਰਕ ਕੁਨੈਕਸ਼ਨ
Comment[sr@latin]=Upravljajte i izmenite podešavanja vaših mrežnih veza
Name[eo]=Retkonektoj
Comment[pt_BR]=Gerencie e altere suas configurações de conexão de rede
Name[pt]=Ligações de Rede
Comment[et]=Võrguühenduse sätete haldus
Comment[ku]=Girêdanên torê yên xwe birêve û sererast bike
Name[en_GB]=Network Connections
Name[es]=Conexiones de red
Name[hi]=संजाल कनेक्शन
Comment[it]=Gestisci e modifica le impostazioni delle connessioni di rete
Comment[an]=Chestione y cambee os suyos achustes d'a connexión de ret
Name[zh_CN]=网络连接
Comment[ta]=உங்களின் பிணைய இணைப்பு அமைவுகளை மேலாண்மை மற்றும் மாற்றவும்
Comment[uk]=Керування параметрами мережних з'єднань
Name[ja]=ネットワーク接続
Name[ug]=تور باغلىنىشلىرى
Comment[mr]=नेटवर्क संयोजना व्यवस्थापीत करा व बदला
Name[nn]=Nettverkstilkoplingar
Comment[eu]=Kudeatu eta aldatu sareko konexioen ezarpenak
Comment[gl]=Xestione e cambie as súas configuracións de conexión de rede
Keywords[it]=Rete;Connessioni
Comment[as]=আপোনাৰ নেটৱাৰ্ক সংযোগক ব্যৱস্থাপনা আৰু সলনি কৰক
Comment[cs]=Spravovat a měnit nastavení připojení k síti
Name=Network Connections
Comment[el]=Διαχείριση και αλλαγή ρυθμίσεων των συνδέσεων δικτύου
Comment[sk]=Spravuje a mení nastavenia vášho sieťového pripojenia
Name[ca@valencia]=Connexions de xarxa
Comment[ms]=Urus dan pinda tetapan sambungan rangkaian anda
Comment[id]=Kelola dan ubah tatanan sambungan jaringan Anda
Name[ko]=네트워크 연결
Comment[lv]=Pārvaldiet un mainiet tīkla savienojumu iestatījumus
Comment[sr]=Управљајте и измените подешавања ваших мрежних веза
Comment[hu]=A hálózati kapcsolatok kezelése és változtatása

