[Desktop Entry]
Name[kk]=Желілік байланыстар
Name[fi]=Verkkoyhteydet
Name[ca]=Connexions de xarxa
Name[sr]=Везе са мрежом
Name[zh_HK]=網絡連線
Name[hi]=संजाल कनेक्शन
Name[mr]=नेटवर्क जोडणी
Comment[pa]=ਆਪਣੀ ਨੈੱਟਵਰਕ ਕੁਨੈਕਸ਼ਨ ਸੈਟਿੰਗ ਦਾ ਪਰਬੰਧ ਕਰੋ ਅਤੇ ਬਦਲੋ
Name[nl]=Netwerkverbindingen
Comment[tr]=Ağ bağlantı ayarlarını yönetin ve değiştirin
Comment[eu]=Kudeatu eta aldatu sareko konexioen ezarpenak
X-GNOME-Bugzilla-Bugzilla=GNOME
Comment[ja]=ネットワーク接続セッティングの管理と変更
Comment=Manage and change your network connection settings
Name[ar]=الاتصالات الشبكية
Comment[nl_NL]=Uw netwerkverbindingsinstellingen beheren en wijzigen
Comment[sr]=Управљајте и измените подешавања ваших мрежних веза
NotShowIn=KDE;
Name[af]=Netwerkverbindings
Name[pa]=ਨੈੱਟਵਰਕ ਕੁਨੈਕਸ਼ਨ
Name[zh_TW]=網路連線
Icon=preferences-system-network
Name[km]=ការ​តភ្ជាប់​បណ្ដាញ
Name[sk]=Sieťové pripojenia
Name[sl]=Omrežne povezave
Comment[zh_CN]=管理或更改您的网络连接设置
Name[mk]=Мрежни врски
Comment[ku]=Girêdanên torê yên xwe birêve û sererast bike
Name[or]=ନେଟୱର୍କ ସଂଯୋଗଗୁଡ଼ିକ
Comment[ast]=Xestiona y camuda los axustes de conexón de rede
Comment[eo]=Administri kaj ŝanĝi viajn retkonektajn agordojn
Comment[ru]=Управление параметрами сетевых соединений
Name[fa]=اتصال‌های شبکه
Comment[gu]=તમારા નેટવર્ક જોડાણ સુયોજનોને બદલો અને સંચાલિત કરો
Comment[hi]=अपना संजाल कनेक्शन सेटिंग प्रबंधित करें और बदलें
Comment[es]=Gestionar y cambiar la configuración de su conexión de red
Comment[sv]=Hantera och ändra inställningar för dina nätverksanslutningar
Comment[ta]=உங்களின் பிணைய இணைப்பு அமைவுகளை மேலாண்மை மற்றும் மாற்றவும்
Name[pt]=Ligações de Rede
Comment[ca]=Gestioneu i modifiqueu els paràmetres de connexió de xarxa
Comment[or]=ଆପଣଙ୍କର ନେଟୱର୍କ ସଂଯୋଗ ସଂରଚନାକୁ ପରିଚାଳନା କରନ୍ତୁ ଏବଂ ପରିବର୍ତ୍ତନ କରନ୍ତୁ
Comment[ar]=أدِر وغيّر إعدادات الاتصالات الشبكية
Name[nb]=Nettverkstilkoblinger
Name[it]=Connessioni di rete
Name[gd]=Ceanglaichean ri lìonraidhean
Comment[bg]=Управление и промяна на настройките на вашата мрежа
Name[eu]=Sareko konexioak
Name=Network Connections
Name[sr@latin]=Veze sa mrežom
Comment[an]=Chestione y cambee os suyos achustes d'a connexión de ret
Comment[as]=আপোনাৰ নেটৱাৰ্ক সংযোগক ব্যৱস্থাপনা আৰু সলনি কৰক
Comment[nn]=Handter og endra innstillingar for nettverkstilkopling
Name[ku]=Girêdanên torê
StartupNotify=true
Comment[gd]=Stiùirich is atharraich roghainnean a' cheangail agad ris an lìonra
Keywords=Network;Connections;
Comment[be@latin]=Kiruj i źmianiaj nałady sietkavych spałučeńniaŭ
Comment[pl]=Zarządzanie ustawieniami połączeń sieciowych
Keywords[hu]=Hálózat;Kapcsolatok;
Keywords[nl_NL]=Netwerk;Verbindingen;
Comment[kk]=Сіздің желілік байланысыңызды басқару мен түзету
Name[ru]=Сетевые соединения
Name[ms]=Sambungan-sambungan Rangkaian
Name[ml]=ശൃംഖല ബന്ധങ്ങള്‍
Comment[ug]=تور باغلىنىش تەڭشەكلىرىڭىزنى باشقۇرۇڭ ۋە ئۆزگەرتىڭ
Name[nn]=Nettverkstilkoplingar
X-GNOME-Bugzilla-Product=NetworkManager
Name[zh_CN]=网络连接
Name[ca@valencia]=Connexions de xarxa
Name[da]=Netværksforbindelser
Name[an]=Conexions de rete
Comment[de]=Einstellungen für Verbindungen mit Netzwerken verwalten
Exec=nm-connection-editor
Name[lv]=Tīkla savienojumi
Name[te]=నెట్వర్కు అనుసంధానములు
Name[es]=Conexiones de red
Name[oc]=Connexions ret
Comment[cs]=Spravovat a měnit nastavení připojení k síti
X-GNOME-Bugzilla-Component=nm-connection-editor
Comment[ro]=Administrați și modificați opțiunile conexiunilor de rețea
Comment[he]=ניהול ושינוי הגדרות חיבורי הרשת שלך
Comment[fr]=Gérer et modifier les paramètres des connexions réseau
Comment[lt]=Tvarkykite ir keiskite savo tinklo ryšių nustatymus
Name[lt]=Tinklo Ryšiai
Comment[ur]=اپنے نیٹ ورک اتصال کی تبدیلی اور ادارت کریں
Comment[hu]=A hálózati kapcsolatok kezelése és változtatása
Comment[crh]=Şebeke bağlantısı tesbitleriñizni idare etiñiz ve değiştiriñiz
Comment[te]=మీ నెట్వర్కు అనుసంధానము అమర్పులను నిర్వహించండి మరియు మార్చండి
Name[pt_BR]=Conexões de rede
Name[hu]=Hálózati kapcsolatok
Keywords[lt]=Tinklas;Ryšiai;
Comment[af]=Bestuur en verander u netwerkverbinding-instellings
Name[ur]=نیٹ ورک اتصال
Comment[fa]=تنظیمات اتصال شبکه خود را مدیریت و تغییر دهید
Keywords[it]=Rete;Connessioni
Name[uk]=Мережні з'єднання
Comment[sr@latin]=Upravljajte i izmenite podešavanja vaših mrežnih veza
Name[ja]=ネットワーク接続
Name[el]=Συνδέσεις δικτύου
Name[he]=חיבורי רשת
Comment[nl]=De instellingen voor uw netwerkverbindingen beheren en bewerken
Comment[ca@valencia]=Gestioneu i modifiqueu els paràmetres de connexió de xarxa
Name[cs]=Připojení k síti
Name[th]=การเชื่อมต่อเครือข่าย
Comment[sl]=Upravljanje in spreminjanje nastavitev omrežne povezave
Comment[vi]=Quản lí và thay đổi thiết lập kết nối mạng
Name[et]=Võrguühendused
Comment[et]=Võrguühenduse sätete haldus
Name[be]=Сеткавыя злучэнні
Keywords[es]=Red; Conexiones;
Comment[th]=จัดการและตั้งค่าการเชื่อมต่อเครือข่ายของคุณ
Name[tr]=Ağ Bağlantıları
Name[ko]=네트워크 연결
Comment[pt]=Gerir e alterar as suas definições da ligação de rede
Name[gl]=Conexións de rede
Name[as]=নেটৱাৰ্ক সংযোগসমূহ
Terminal=false
Comment[zh_TW]=管理與變更您的連線設定值
Name[nl_NL]=Netwerkverbindingen
Comment[bn_IN]=আপনার নেটওয়ার্ক সংযোগ বৈশিষ্ট্য সম্পাদন ও পরিবর্তন করুন
Name[crh]=Şebeke Bağlantıları
Comment[id]=Kelola dan ubah tatanan sambungan jaringan Anda
Comment[sk]=Spravuje a mení nastavenia vášho sieťového pripojenia
Comment[ko]=네트워크 연결 설정을 관리하고 설정을 바꿉니다
Name[gu]=નેટવર્ક જોડાણો
Comment[el]=Διαχείριση και αλλαγή ρυθμίσεων των συνδέσεων δικτύου
Name[en_GB]=Network Connections
Comment[uk]=Керування параметрами мережних з'єднань
Comment[en_GB]=Manage and change your network connection settings
X-VeraCC-Section=Network
Name[ug]=تور باغلىنىشلىرى
Name[ro]=Conexiuni de rețea
Categories=GNOME;GTK;Settings;X-GNOME-NetworkSettings;
Type=Application
Name[sv]=Nätverksanslutningar
Comment[ml]=നിങ്ങളുടെ ശൃംഖല ബന്ധങ്ങള്‍ സജ്ജീകരണങ്ങള്‍ കൈകാര്യം ചെയ്യുകയും മാറ്റങ്ങള്‍ വരുത്തുകയും ചെയ്യുക.
Comment[da]=Rediger og ændr dine indstillinger til netværksforbindelser
Comment[gl]=Xestione e cambie as súas configuracións de conexión de rede
Name[kn]=ಜಾಲಬಂಧ ಸಂಪರ್ಕಗಳು
Name[vi]=Kết nối mạng
Comment[pt_BR]=Gerencie e altere suas configurações de conexão de rede
Comment[fi]=Hallitse ja muuta verkkoyhteyksien asetuksia
Comment[ms]=Urus dan pinda tetapan sambungan rangkaian anda
Comment[zh_HK]=管理與更改你的連線設定值
Name[eo]=Retkonektoj
Comment[mr]=नेटवर्क संयोजना व्यवस्थापीत करा व बदला
Name[de]=Netzwerkverbindungen
Comment[be]=Настройкі сеткавага злучэння
Name[be@latin]=Sietkavyja spałučeńni
Comment[km]=គ្រប់គ្រង និង​ផ្លាស់ប្ដូរ​ការ​កំណត់​ការ​តភ្ជាប់​បណ្ដាញ​របស់​អ្នក
Comment[nb]=Håndter og endre innstillinger for nettverksforbindelser
Name[ast]=Conexones de rede
Comment[it]=Gestisci e modifica le impostazioni delle connessioni di rete
Comment[mk]=Управувајте и променувајте ги поставувањата на Вашата мрежна врска
Name[bg]=Мрежови връзки
Name[fr]=Connexions réseau
Comment[kn]=ನಿಮ್ಮ ಜಾಲಬಂಧ ಸಂಪರ್ಕಗಳನ್ನು ನಿರ್ವಹಿಸಿ ಹಾಗು ಬದಲಾಯಿಸಿ
Name[ta]=பிணைய இணைப்புகள்
Name[bn_IN]=নেটওয়ার্ক সংযোগ
Name[id]=Sambungan Jaringan
Comment[lv]=Pārvaldiet un mainiet tīkla savienojumu iestatījumus
Name[pl]=Połączenia sieciowe

