[Desktop Entry]
Keywords[hu]=Rövidítések;
Name[es]=Atajos de teclado
X-VeraCC-Section=Personal
Name=Shortcuts
Comment[lt]=Spartieji klavišai
Comment[es]=Atajos de teclado
Keywords[lt]=Spartieji klavišai;
Comment[it]=Scorciatoie
Icon=preferences-desktop-keyboard-shortcuts
Name[nl_NL]=Sneltoetsen
Keywords[it]=Scorciatoie;
Keywords=Shortcuts;
Comment[nl_NL]=Sneltoetsen
Keywords[nl_NL]=Sneltoetsen;
Name[lt]=Spartieji klavišai
Name[hu]=Rövidítések
Name[it]=Scorciatoie
Comment=Shortcuts
Comment[hu]=Rövidítések
Keywords[es]=Atajos de teclado;

