[Desktop Entry]
Comment=Shortcuts
Keywords=Shortcuts;
X-VeraCC-Section=Personal
Comment[it]=Scorciatoie
Name[it]=Scorciatoie
Name=Shortcuts
Icon=preferences-desktop-keyboard-shortcuts

