[Desktop Entry]
Keywords=Power;Batteries;Battery;
Icon=preferences-system-power
Name[it]=Alimentazione
Keywords[it]=Alimentazione;Batterie;Batteria;
Name[lt]=Maitinimas
Keywords[es]=Energía;Baterías;Batería;
Comment[lt]=Maitinimo nustatymai
Comment=Power settings
Comment[hu]=Energiakezelés beállítások
Comment[it]=Impostazioni dell'alimentazione
Comment[nl_NL]=Energie-instellingen
Name[es]=Energía
Keywords[nl_NL]=Energie;Accu's;Accu;
Name=Power
Keywords[hu]=Energiakezelés;Telepek;Telep;
X-VeraCC-Section=Hardware
Comment[es]=Configuración de energía
Keywords[lt]=Maitinimas;Akumuliatoriai;Akumuliatorius;
Name[nl_NL]=Energie
Name[hu]=Energiakezelés

