[Desktop Entry]
Name[es]=Energía
Comment[lt]=Maitinimo nustatymai
Keywords[nl_NL]=Energie;Accu's;Accu;
Keywords[hu]=Energiakezelés;Telepek;Telep;
X-VeraCC-Section=Hardware
Icon=preferences-system-power
Comment[hu]=Energiakezelés beállítások
Comment[it]=Impostazioni dell'alimentazione
Name[nl_NL]=Energie
Name[hu]=Energiakezelés
Keywords[it]=Alimentazione;Batterie;Batteria;
Name[lt]=Maitinimas
Comment=Power settings
Name[it]=Alimentazione
Keywords[lt]=Maitinimas;Akumuliatoriai;Akumuliatorius;
Keywords[es]=Energía;Baterías;Batería;
Comment[nl_NL]=Energie-instellingen
Keywords=Power;Batteries;Battery;
Comment[es]=Configuración de energía
Name=Power

