[Desktop Entry]
Comment=Power settings
Keywords=Power;Batteries;Battery;
X-VeraCC-Section=Hardware
Comment[it]=Impostazioni dell'alimentazione
Name[it]=Alimentazione
Keywords[it]=Alimentazione;Batterie;Batteria;
Name=Power
Icon=preferences-system-power

