[Desktop Entry]
Comment=Change the default language and region
Keywords=Language
X-VeraCC-Section=System
Comment[it]=Cambia la lingua e la regione predefinita
Name[it]=Regione e lingua
Name=Region & language
Icon=preferences-desktop-locale

