[Desktop Entry]
Comment[es]=Cambiar la región e idioma por defecto
Comment=Change the default language and region
Keywords[lt]=Kalba
Keywords[nl_NL]=Taal
Name=Region & language
Icon=preferences-desktop-locale
Comment[lt]=Keisti numatytąją kalbą ir regioną
Comment[it]=Modifica la lingua e la regione predefinita
X-VeraCC-Section=System
Name[es]=Región e idioma
Comment[hu]=Az alapértelmezett nyelv és régió megváltoztatása
Name[lt]=Regionas ir kalba
Name[nl_NL]=Regio en taal
Keywords[hu]=Nyelv
Keywords[it]=Lingua
Comment[nl_NL]=De standaard taal en -regio wijzigen
Name[it]=Regione e lingua
Name[hu]=Régió és nyelv
Keywords[es]=Idioma
Keywords=Language

