[Desktop Entry]
Icon=preferences-desktop-keyboard
Keywords[es]=Teclado
X-VeraCC-Section=System
Name[nl_NL]=Toetsenbord
Name=Keyboard
Keywords[nl_NL]=Toetsenbord
Name[es]=Teclado
Keywords=Keyboard
Name[hu]=Billentyűzet
Comment=Keyboard settings
Name[it]=Tastiera
Keywords[hu]=Billentyűzet
Comment[nl_NL]=Toetsenbordinstellingen
Keywords[it]=Tastiera
Name[lt]=Klaviatūra
Comment[lt]=Klaviatūros nustatymai
Keywords[lt]=Klaviatūra
Comment[es]=Configuración del teclado
Comment[hu]=Billentyűzet beállítások
Comment[it]=Impostazioni della tastiera

