[Desktop Entry]
Comment[es]=Configuración del teclado
Keywords[es]=Teclado
Name[es]=Teclado
Comment=Keyboard settings
Keywords[it]=Tastiera
X-VeraCC-Section=System
Keywords[lt]=Klaviatūra
Keywords[nl_NL]=Toetsenbord
Name[it]=Tastiera
Name[nl_NL]=Toetsenbord
Icon=preferences-desktop-keyboard
Comment[lt]=Klaviatūros nustatymai
Name[lt]=Klaviatūra
Comment[hu]=Billentyűzet beállítások
Keywords=Keyboard
Name=Keyboard
Comment[nl_NL]=Toetsenbordinstellingen
Name[hu]=Billentyűzet
Comment[it]=Impostazioni della tastiera
Keywords[hu]=Billentyűzet

