[Desktop Entry]
Name=Keyboard
Name[it]=Tastiera
Comment=Keyboard settings
Comment[it]=Impostazioni della tastiera
Icon=preferences-desktop-keyboard
Keywords=Keyboard
X-VeraCC-Section=System
