[Desktop Entry]
Comment[es]=Configura la fecha y la hora
Comment=Configures the time and the date
Keywords[lt]=Laikas;Data
Keywords[nl_NL]=Tijd;Datum
Name=Time & Date
Icon=preferences-system-time
Comment[lt]=Konfigūruoja laiką ir datą
Comment[it]=Configura l'ora e la data
X-VeraCC-Section=System
Name[es]=Fecha y hora
Comment[hu]=Az idő és a dátum beállítása
Name[lt]=Laikas ir Data
Name[nl_NL]=Datum en tijd
Keywords[hu]=Idő;Dátum
Keywords[it]=Ora;Data
Comment[nl_NL]=De datum en tijd instellen
Name[it]=Ora e data
Name[hu]=Idő és dátum
Keywords[es]=Hora; Fecha
Keywords=Time;Date

