[Desktop Entry]
Name=Time & Date
Name[it]=Ora e data
Comment=Configures the time and the date
Comment[it]=Configura l'ora e la data
Icon=preferences-system-time
Keywords=Time;Date
X-VeraCC-Section=System
