[Desktop Entry]
Icon=preferences-system-time
Keywords[es]=Hora; Fecha
X-VeraCC-Section=System
Name[nl_NL]=Datum en tijd
Name=Time & Date
Keywords[nl_NL]=Tijd;Datum
Name[es]=Fecha y hora
Keywords=Time;Date
Name[hu]=Idő és dátum
Comment=Configures the time and the date
Name[it]=Ora e data
Keywords[hu]=Idő;Dátum
Comment[nl_NL]=De datum en tijd instellen
Keywords[it]=Ora;Data
Name[lt]=Laikas ir Data
Comment[lt]=Konfigūruoja laiką ir datą
Keywords[lt]=Laikas;Data
Comment[es]=Configura la fecha y la hora
Comment[hu]=Az idő és a dátum beállítása
Comment[it]=Configura l'ora e la data

